@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --primary: #00BFB2;
    --secondary: #0B2860;
    --footer: #1043A5;
}
#contact-section{
    background-color: #DFF6F4;
    width: 100%;
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}
#contact-section h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
}
#contact-section h5{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
#contact-section #container-contact{
    display: flex;
}
#contact-section #images-container img{
    flex-direction: column;
    height: 24px;
    width: 24px;
    margin-bottom: 16px;
}
#contact-section #info-contact-container{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
}
#contact-section #mapa{
    width: 378px;
    height: 369px;
}

@media screen and (min-width: 1400px) {
    #contact-section{
        padding: 3rem;
    }
    #contact-section #mapa{
        width: 867px;
        height: 440px;
        margin: auto;
    }
}

