/* .modales{
    position: absolute;
    top: 260px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
} */

* {
    overflow-x: hidden;      
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modales{
    display: flex;   
    flex-wrap: wrap;
    width: 300px; 
    margin: 20px 0px 20px 0px;
    
}