.mensaje{
    width: 250px;
    height: 250px;
    background-color: blanchedalmond;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 20px;

    /* position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column; */
}





.area-mensaje{
    display: flex;
    width: 98vw;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;

}

.mensaje-anterior{

    width: 90vw;
    
    margin: 0px;
    
    border: 1px rgba(16, 67, 165, 0.4) solid;
    
    border-radius: 10%;
    padding: 15px;
    background-color: rgba(16, 67, 165, 0.4);
    color: white;
    text-align: center;
    
}

.area-imagen{
    width: 98vw;
    display: flex;
    justify-content: center;
    margin: 0;
}

.imagen-lupa{
    width: 300px;
    align-items: center;
    margin-top: 5px;
}

@media (min-width: 768px) {

    .imagen-lupa{
        margin-top: 60px;
        
    }



}