.numero-titulo{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  .numero{
    width: 32px;
    height: 32px;
    background-color: rgb(11, 39, 96);    
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;    
    margin: 0;
    position: absolute;
    top: 100px;
    left: 16px;
  
    font-size: 20px;
  }
  
  .titulo{
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 56px;
    color:rgba(11, 40, 96, 1) ;
    
  }
  
  .parrafo{
    position: absolute;
    top: 130px;
    margin: 15px 15px 15px 0px;
    display: flex;
    left: 16px;
    color: rgba(11, 40, 96, 1);
  
  }

  .section{
    position: absolute;
    top: 210px;
    left: 0;
  }

  .custom-button {
    background-color:rgba(0, 191, 178, 1) !important;
    border-radius: 10px !important;
    height: 40px !important;
    width: 270px !important;
    font-size: 15px !important;
    padding: 0;
  }

  .texto{
    color: blue;
    font-size: 50px;
  }

  .color-boton{
    background: #00BFB2!important;
    color: white!important;
    width: 91vw;
    margin-left: -13px;

    
}

.color-boton2{
  
  width: 91vw;
  margin-left: -13px;

  
}

  