img{
    width: 100%;
    height: calc(100vh - 60px);
}
.titulo{
    color: #000;
}
.textParrafo{
    color: #000;
}

@media screen and (max-width: 414px) {
    img{
        width: 100%;
        height: calc(75vh - 60px);
    }
    
}