
.titulo{
    color: #000;
}
.textParrafo{
    color: #000;
}
/* .img_carrusel{
    width: 948px;
    height: 677px;
} */

/* @media screen and (max-width: 414px) {
    .contenedor img{
        width: 100%;
        height: calc(60vh - 60px);
    }
    
} */