.container {
  max-width: 382px;
  height: 100%;
}

.container h2 {
  font-size: 24px;
}

.form div {
  height: 90px;
}

.form div input {
  height: 60px;
  border-radius: 10px !important;
}

.inputError {
  border-color: #e31d41 !important;
}

.textError {
  font-size: 12px;
  color: #d2273c;
}

.button {
  background-color: #19191b !important;
  border-radius: 8px !important;
}
