/* .base-cuadrado{
    width: 100vw;
    display: flex;
    justify-content: center;
} */

.titulo-parrafo{
    width: 350px;
    height: 148px;
    text-align: justify;
}

.parrafo-servicios{
    color: #0B2860;
    font-size: 16px;

}

.titulo-servicios{
    font-size: 32px;
    color: #0B2860;


}

.cuadrado{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 2rem ;
    
}

.cuadrados{
    display: flex;
    width: 100%;
    width: 90%;
    flex-direction: column;
    align-items: center;
   
}

.base-nucleo{
    width: 350px;
    height: 396px;
    /* border: 1px black solid; */
    border: 1px solid #0000001A;
    margin: 30px 0px;

}


.nucleo{
    width: 350px;
    height: 311px;
    
    display: flex;
    align-items: center;
    gap: 28px;
    flex-direction: column;
    margin-top: 51px;
    
}

.imagen{
    width: 54px;
    height: 54px;
}

.titulo-nucleo{
    font-size: 24px;
    color: #00BFB2;
    width: 345px;
    height: 61px;
    text-align: center;

}

.parrafo-nucleo{
    font-size: 16px;
    color: #0B2860;
    width: 340px;
    height: 119px;
    text-align: center;
    margin: 0px 10px;


}

@media (min-width: 1300px) {

    .titulo-parrafo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80px;
        margin-top: 30px;
    }

    .cuadrados{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}