.superior{
    width: 98vw;
    display: flex;
    justify-content: center;
}

.cuerpo{
    border: 1px solid black;
    width: 310px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    
}

.enc{
    display: flex;
    width: 290px;
    justify-content: space-evenly;
    align-items: center;
}

.tit-principal{
    font-size: 27px;
    margin-top: 20px;
    color: rgba(11, 40, 96, 1);
}

.seu{
    width: 290px;
    border: 1px solid black;
    margin: 5px;
    margin-right: 5px;
    padding: 10px;
    height: 100px;
    border-radius: 8px;
}

.num-tit{
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 12px;
}

.num{
    width: 32px;
    height: 32px;
    background-color: rgb(11, 39, 96);    
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 8px; 
    z-index: 1000;
    font-size: 17px;
    color: rgba(11, 40, 96, 1);
   
}

.tit{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: rgba(11, 40, 96, 1);
}

.img-par{
    display: flex;

}

.img{
    width: 57px;
    height: 64px;
    margin-top: -15px;
}

.par{
    margin-left: 7px;
    font-size: 15px;
    color: rgba(11, 40, 96, 1);
}

.close{
    border: 1px black solid;
    padding: 1px 3px;
    background-color: blue;
    color: white;
}

.color-boton{
    background: #00BFB2!important;
    color: white!important;
}


