.select{  
    margin: 15px;
    position: absolute;
    top: 120px;
}

.orden-modales{
    display: flex;       
    flex-wrap: wrap;    
    justify-content: center;
    position: absolute;
    top: 260px;
}

.numero-titulo{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.numero{
    width: 32px;
    height: 32px;
    background-color: rgba(11, 40, 96, 1);    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;    
    margin: 0;
    position: absolute;
    top: 100px;
    left: 16px;

    font-size: 20px;
}

.titulo{
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 56px;
    color:rgba(11, 40, 96, 1) ;
    
}

.parrafo{
    position: absolute;
    top: 130px;
    margin: 15px 15px 15px 0px;
    display: flex;
    left: 16px;
    color: rgba(11, 40, 96, 1);

}